/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}
.heading{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:4px;
}
.section{
	display:flex;
	justify-content:space-between
}
.a{
	background-color:white;
	border-radius:10px;
	padding:20px:
}
.b{
	background-color:white;
	border-radius:10px;
}